// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
color: #133C55;


}


p{
color:
 #265936;

}

.container{
  text-align: center;
  padding: 74px;
  border-color: black;
  border: solid;
  margin-left: 250px;
  margin-right: 250px;

}

.white{
  color: white;
  font-decoration: none;
}
